<html>
<head>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>OqFazer</title>
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" ></link>
	<link rel="stylesheet" type="text/css" href="../css/comum/comum.css"></link>
	<link rel="stylesheet" type="text/css" href="../css/login/login.css"></link>
</head>
<body ng-app="fatec">
 	<div class="index">
 	<div ng-controller="LoginController">
 		<div class="panel panel-default ">
	 		<div class="panel-heading clearfix" ng-if="!isLogado">
	 			<h3>OqFazer
		 			<span class ="btn-group pull-right">
						<button type="button" class="btn btn-primary" ng-click="openModalLogin()">Login</button>
					</span>
				</h3> 
	 		</div>			
			<div>
				<div class="modal fade" id="modalFormLogin" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4>Login</h4>
							</div>
							<div class="modal-body">
								<form role="form">
									<div class="form-group">
										<label for="pwd">Email:</label>
										<input type="text" class="form-control" ng-model="user.email">
									</div>
									<div class="form-group">
										<label for="nome">Password:</label>
										<input type="password" class="form-control" ng-model="user.password">
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" 
									ng-click="cancelModal()">Cancel</button>
								<button type="button" class="btn btn-success" 
									ng-click="doLogin()">Login</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
				<ng-include src="'administrator.html'"></ng-include>
				<ng-include src="'event.html'"></ng-include>
			</div>
								
			<div class="panel-footer">Copyright &copy; 2016 OqFazer | Development by Thiago Fortunato and William Pena</div>
		</div>
	</div>
	
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/ui-bootstrap.js"></script>
	<script type="text/javascript" src="../js/comum/comum.js"></script>
	<script type="text/javascript" src="../js/login/login.js"></script>
	<script type="text/javascript" src="../js/event/event.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>

</body>
</html>