<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbaar-header">
			<a class="navbar-brand" href="#/eventList">OqFazer</a>
		 </div>
		 <ul class="nav navbar-nav">
			<li ng-show="isLogado" ng-if="!user.isAdmin" class="{{isActive('users')}}">
				<a href="#/myCount">My Count</a>
			</li>
			<li ng-show="isLogado" ng-if="!user.isAdmin" class="{{isActive('events')}}">
				<a href="#/myEvents">My Events</a>
			</li>			
			<li ng-show="isLogado" ng-if="!user.isAdmin" class="{{isActive('participation')}}">
				<a href="#/myParticipations">My Participations</a>
			</li>
			<li ng-show="isLogado" ng-if="!user.isAdmin" class="{{isActive('newEvent')}}">
				<a href="#/newEvent">New Event</a>
			</li>
			<li class="{{isActive('Event')}}" ng-show="user.isAdmin">
				<a href="#/events">Events</a>
			</li>
			<li class="{{isActive('User')}}" ng-show="user.isAdmin">
				<a href="#/users">Users</a>
			</li>
			<li class="{{isActive('Category')}}" ng-show="user.isAdmin">
				<a href="#/categories">Category</a>
			</li>
			<li class="{{isActive('Region')}}" ng-show="user.isAdmin">
				<a href="#/regions">Region</a>
			</li>
		</ul>		
		<div ng-if="!isLogado">
 			<ul class="nav navbar-nav navbar-right">
 				<li>
 					<button type="button" class="btn btn-primary logoutBtn" ng-click="openModalLogin()">Login</button>
 				</li>
			</ul>
		</div>
		<div ng-if="isLogado">
 			<ul class="nav navbar-nav navbar-right">
				<li><p class="navbar-text">{{getMensageApresentation()}}</p></li>
				<li>
					<button type="button" class="btn btn-primary logoutBtn" ng-click="doLogout()">Log Out</button>
				</li>
			</ul>
		</div>
		<div class="modal fade" id="modalFormLogin" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4>Login</h4>
					</div>
					<div class="modal-body">
						<form role="form">
							<div class="form-group">
								<label for="pwd">Email:</label>
								<input type="text" class="form-control" ng-model="user.email">
							</div>
							<div class="form-group">
								<label for="nome">Password:</label>
								<input type="password" class="form-control" ng-model="user.password">
							</div>
						</form>
						<div class="alert alert-danger" role="alert" ng-show="showMessageError">
							<p>user/password invalid</p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" ng-click="cancelModalLogin()">Cancel</button>
						<button type="button" class="btn btn-success" ng-click="doLogin()">Login</button>
						<a href="#/myCount" type="button" ng-click="cancelModalLogin()" class="btn btn-primary pull-right">Register</a>
					</div>
				</div>
			</div>
		</div>
	</div> 
</nav>