<div class="page-header" align="center">
    <h2> Event </h2>
</div>
<form class="form-horizontal form-label-left" novalidate>        
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Name: </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="name" class="form-control col-md-7 col-xs-12" data-ng-model="event.name" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="Name Event" required="required" type="text">
        </div>
    </div>
     <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Description: </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="name" class="form-control col-md-7 col-xs-12" data-ng-model="event.description" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="Description Event" required="required" type="text">
        </div>
    </div>
    <div class="item form-group">
		<label  class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Event Date: </label>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<input name="lancamento" placeholder="dd/mm/aaaa" id = "agregar" type="text" class="form-control datepicker" >
		</div>
	</div>
    <div class="item form-group">
       <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Local: </label>
       <div class="col-md-6 col-sm-6 col-xs-12">
           <input id="name" class="form-control col-md-7 col-xs-12" data-ng-model="event.local" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="Address" required="required" type="text">
       </div>
    </div>
    <div class="item form-group">
       <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Image: </label>
       <div class="col-md-6 col-sm-6 col-xs-12">
           <input id="name" class="form-control col-md-7 col-xs-12" data-ng-model="event.imageURL" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="URL Folder" required="required" type="text">
       </div>
   </div>
   <div class="item form-group">
   	   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Region: </label>
   	   		<div class="col-md-6 col-sm-6 col-xs-12">
	   	   		<select class="form-control" ng-model="regionSelected" width="70%" ng-options="region as region.name for region in regions">
					<option value="region"></option>
				</select>
			</div>
	</div>
	<div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Onwer: </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="name" class="form-control col-md-7 col-xs-12" data-ng-model="user.name" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="Nome completo" required="required" type="text">
        </div>
    </div>
	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Category:</label>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<select class="form-control" ng-model="categorySelected" width="70%" ng-options="category as category.name for category in categories"></select>		
					<button type="button" class="btn btn-success" ng-click="insertCategory(categorySelected)">Add</button>
				</div>
			</div>
	</div>
	<div class="item form-group">
		<table id="tabelaAngular" class="table table-striped table-bordered table-responsive" cellspacing="0" width="80%" at-table at-paginated at-list="categoriesEvent" at-config="config">
			<thead>
				<th>Categories</th>
				<th colspan="1"></th>
			</thead>
			<tbody>
				<tr ng-repeat="category in categoriesEvent track by $index" ng-if="categoriesEvent.length != 0">
					<td at-implicit at-sortable>{{category.name}}</td>
					<td class="btnCell">
						<p>
							<a ng-click="deleteCategory($index)" href="#"
								class="btn btn-danger btn-small"> <span
								class="glyphicon glyphicon-remove" title="Delete"></span>
							</a>
						</p>
					</td>
				</tr>
				<tr ng-if="categoriesEvent.length == 0">
					<td colspan="5" class="semRegistros">
						<p>No Categories</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>       
    <div class="ln_solid">
	    <div class="form-group">
	        <div class="col-md-6 col-md-offset-3">
	            <button type="button" class="btn btn-success" ng-click="insert(user.id)">Salve</button>
	        </div>
	    </div>
    </div>
</form>