<!-- <div id=footer>
	<div class="panel-footer">Copyright &copy; 2016 OqFazer | Development by Thiago Fortunato and William Penna</div>
</div> -->
<footer>
  <div class="container">
    <img src="interrogacao.jpg" alt="OqFazer">

    <ul class="social">
      <li><a href="http://facebook.com/mirrorfashion">Facebook</a></li>
      <li><a href="http://twitter.com/mirrorfashion">Twitter</a></li>
      <li><a href="http://plus.google.com/mirrorfashion">Google+</a></li>
    </ul>

  </div>
</footer>
