<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li class="{{isActive('events')}}">
				<a href="#/events">Events</a>
			</li>
			<li class="{{isActive('filter')}}">
				<a href="#/filters">Filters</a>
			</li>
			<li ng-show="isLogado" class="{{isActive('users')}}">
				<a href="#/myCount">My Count</a>
			</li>
			<li ng-show="isLogado" class="{{isActive('events')}}">
				<a href="#/myEvents">My Events</a>
			</li>			
			<li ng-show="isLogado" class="{{isActive('participation')}}">
				<a href="#/myParticipations">My Participations</a>
			</li>
		</ul>
	</div>
</nav>