<!-- VERIFICAR O QUE PODE SER IMPLEMENTADO NESSE HTML -->

<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Usuários</title>
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" ></link>
	<link rel="stylesheet" href="../css/login/login.css" ></link>
</head>
<body ng-app="fatec" >
	<div ng-controller="LoginController">
		<nav class="navbar navbar-default" ng-if="isLogado">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li>
						<a href="../../angular-api/cliente/list.html">Usuários</a>
					</li>
					<li>
						<a href="../../angular-api/materiaPrima/list.html">Papéis</a>
					</li>
					<li class="active">
						<a href="../../angular-api/Produto/list.html">Grupos</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><p class="navbar-text">{{getMensagemApresentacao()}}</p></li>
					<li>
						<button type="button" class="btn btn-primary logoutBtn" ng-click="doLogout()">Sair</button>
					</li>
				</ul>
			</div>
		</nav>
		<div ng-if="!isLogado">
			<form role="form" class="formLogin">
				<div class="form-group">
					<label for="nome">Usuário:</label>
					<input type="text" class="form-control" ng-model="usuario.login">
				</div>
				<div class="form-group">
					<label for="pwd">Senha:</label>
					<input type="password" class="form-control" ng-model="usuario.senha">
				</div>
				<button type="button" class="btn btn-primary" ng-click="doLogin()">Login</button>
			</form>
		</div>
	</div>
	
	<div ng-inlude="'arquivos_js.html'">
	</div>
</body>
</html>