<html>
<head>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Users</title>
	<link rel="stylesheet" href="../../../css/external/bootstrap/bootstrap.min.css" ></link>
	<link rel="stylesheet" type="text/css" href="../../../css/app/login/login.css"></link>
	<link rel="stylesheet" type="text/css" href="../../../css/administrator/user.css" ></link>
</head>
<body ng-app="fatec">
	<ng-include src="'administrator.html'"></ng-include>
	<div ng-controller="UserController" ng-cloak="true" class="conteudo">
		<div id="tabela" class="tab-pane fade in active" ><br/>
			<table id="tabelaAngular" class="table table-striped table-bordered table-responsive" 
				cellspacing="0" width="100%" at-table at-paginated at-list="users" at-config="config">

				<thead>
					<th>ID</th>
					<th>Nome</th>
					<th>Email</th>
					<th>Password</th>
					<th>Phone</th>
					<th colspan="2"></th>
				</thead>
				<tbody>
					<tr ng-repeat="user in users.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"
						ng-if="user.length != 0">
						<td at-implicit at-sortable>{{ user.id }}</td>
						<td at-implicit at-sortable>{{ user.name }}</td>
						<td at-implicit at-sortable>{{ user.email }}</td>
						<td at-implicit at-sortable>{{ user.password }}</td>
						<td at-implicit at-sortable>{{ user.phone }}</td>
						<td class="btnCell">
							<p>
								<a ng-click="openModal(user.id,'update')" href="#" class="btn btn-danger btn-small">
									<span class="glyphicon glyphicon-edit" title="Update"></span>
								</a>
							</p>
						</td>
						<td class="btnCell">
							<p>
								<a ng-click="deleta(user.id)" href="#" class="btn btn-danger btn-small">
									<span class="glyphicon glyphicon-remove" title="Delete"></span>
								</a>
							</p>
						</td>
					</tr>
					<tr ng-if="users.length == 0">
						<td colspan="7" class="semRegistros">
							<p>No Users</p>
						</td>
					</tr>
				</tbody>
			</table>
			<uib-pagination boundary-links="true" total-items="users.length" ng-model="currentPage" 
			items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" 
			first-text="&laquo;" last-text="&raquo;" ng-change="pageChange()"></uib-pagination>
			<br/>
			<button type="button" class="btn btn-primary" ng-click="openModal()">New User</button>
			<div>
				<div class="modal fade" id="modalForm" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4>Registration User</h4>
							</div>
							<div class="modal-body">
								<form role="form">
									<div class="form-group">
										<label for="nome">Name:</label>
										<input type="text" class="form-control" ng-model="user.name">
									</div>
									<div class="form-group">
										<label for="pwd">Email:</label>
										<input type="text" class="form-control" ng-model="user.email">
									</div>
									<div class="form-group">
										<label for="nome">Password:</label>
										<input type="password" class="form-control" ng-model="user.password">
									</div>
									<div class="form-group">
										<label for="nome">Phone:</label>
										<input type="text" class="form-control" ng-model="user.phone">
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" 
									ng-click="cancelModal()">Cancel</button>
								<button type="button" class="btn btn-success" 
									ng-click="insert()">Salve</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="../../../js/external/angular.min.js"></script>
	<script type="text/javascript" src="../../../js/external/jquery.min.js"></script>
	<script type="text/javascript" src="../../../js/app/comum/comum.js"></script>
	<script type="text/javascript" src="../../../js/external/ui-bootstrap.js"></script>
	<script type="text/javascript" src="../../../js/service/user.service.js"></script>
	<script type="text/javascript" src="../../../js/app/administrator/user.js"></script>
	<script type="text/javascript" src="../../../js/app/login/login.js"></script>
	<script type="text/javascript" src="../../../js/external/bootstrap.min.js"></script>
</body>
</html>