div.conteudo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.semRegistros {
	text-align: center;
}

ul.pagination {
    margin-top: 10px;
    margin-bottom: 10px;
}

#tabelaAngular {
    margin-bottom: 20px;
}

div.conteudo.categoryTable {
	width: 50%;
 	margin-left: 25%;
    margin-bottom: 20px;
}

div.conteudo.participate {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

div.conteudo.myevent {
    width: 40%;
    margin-left: 30%;
    margin-right: 20%;
}

.btn.focus, .btn:focus {
	outline: none;
}

.modal-footer button.btn {
    float: left;
}

td.btnCell {
	width: 57px;
}

td.btnCell p {
    margin-bottom: 0px !important;
}

.logoutBtn {
    margin-top: 6px;
    margin-right: 6px;
}